body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    background: linear-gradient(to right,#3a7bd5, #00d2ff);
    color: white;
    text-align: center;
    font-family: "Arial", sans-serif;
    padding: 20px;
  }
  
  .heading {
    font-size: 2.5rem;
    color: #333;
  }
  
  .button {
    background-color: #ffcc00;
    color: #333;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    /*margin-top: 20px; */
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #ffdb4d;
  transform: scale(1.05);
  }
  

/* Logo */
.logo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }


/* Tagline */
.tagline {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo {
      font-size: 2.5rem;
    }
    .tagline {
      font-size: 1.2rem;
    }
    .button {
      font-size: 1rem;
      padding: 12px 25px;
    }
  }